/* index.html main page styles */
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background: var(--back-gif) center;
    background-size: cover;
    display: flex;
    font-family: 'Gotham Pro';
    font: 'Gotham Pro';
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    height: 190px;
    min-width: 300px;
    width: 300px;
    display: flex;
    background: none;
    padding: 35px;
    color: var(--text-color);
    border-radius: 25px; 
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -khtml-border-radius: 25px;

    /* The background */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    transform: translateY(20px);

    animation: border-color-animation 1s alternate infinite;
    border: 2px solid white;
}

@keyframes border-color-animation {
    0% {
        border-color: rgba(223, 194, 247, 0.733);
    }
    100% {
        border-color: rgb(70, 68, 123);
    }
}

.buttons {
    min-width: 300px;
    width: 300px;
    display: flex;
    padding: 0px;
    border-radius: 8px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;

    transform: translateY(-75px);
}

a.link {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    padding: 8px 20px; 
    margin: 4px;
    background: rgba(160, 160, 176, 0.62);
    color: #fff;
    cursor: pointer;
    border-radius: 8px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    width: 256px;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    border: var(--border);
}

.avatar-container {
    margin: 0 0.4em 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;

    transform: translateY(-50px);
}

.avatar {
    width: 10em;
    height: 10em;
    border-radius: 3.5em;
    border: 2px solid rgba(223, 194, 247, 0.574);
    animation: border-color-animation 2s alternate infinite
}

.pizdec {
    position: relative;
    display: inline-flex;
    padding: 0.3em;
}

a.link:hover,
button:hover {
    background: rgba(193, 172, 232, 0.491);
    color: #ffffff;
}

button:active, button:focus {
      outline: none;
}

button::-moz-focus-inner {
      border: 0;
}

button::-webkit-focus-inner {
    border: 0;
}

hr {
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

h3 {
    font-style: normal;
    font-weight: inherit;
    transition: .2ms;
    -webkit-transition: .2ms;
    -moz-transition: .2ms;
}

h2 {
    font-size: larger;
    transition: .2ms;
    -webkit-transition: .2ms;
    -moz-transition: .2ms;

    transform: translateY(-60px);
}

p {
    transform: translateY(-75px);
}

input[type=button] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    padding: 12px 20px; 
    background: hsla(212, 94%, 65%, 0.758);
    color: #ffffff;
    border: 0 none;
    cursor: pointer;
    border-radius: 8px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
}