:root {
    --name: iNeoony;
    --text-color: rgb(153, 238, 209);
    --back-color: rgba(97, 171, 231, 0.336);
    --over-color: #8781c2;
    --popup-text-color: #5c5656;
    --has-pasxalka-work: 'true';
}
