:root {
    --name: Zirus;
    --text-color: rgb(255, 255, 255);
    --back-color: rgba(255, 255, 255, 0.397);
    --over-color: #ffffff;
    --popup-text-color: #d3d2d2;
    --nicetry-text-color: rgb(255, 255, 255);
    --has-pasxalka-work: 'true';
}